<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Car</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>New Car/Cat!</h1>
    <form action="nowhere" method='post'>
        <p>
            <label for="make">Make: </label>
            <input type="text" name="make">
        </p>
        <p>
            <label for="model">Model: </label>
            <input type="text" name="model">
        </p>
        <p>
            <label for="year">Year: </label>
            <input type="text" name="year">
        </p>
        <p>
            <label for="rad">Radical features: </label>
            <textarea name="rad"></textarea>
        </p>
        <input type="submit" value="Submit Car">
    </form>
</body>
</html>